@model PicFavWebApp.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<link href="~/lib/bootstrap/dist/css/bootstrap-social.css" rel="stylesheet" asp-append-version="true">
<environment names="Development">
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" asp-append-version="true">
</environment>
<environment names="Staging,Production">
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" asp-append-version="true">
</environment>

<style>
    @@media screen and (min-width: 768px) {
        .login-btn {
            max-width: 320px;
        }
    }

    @@media screen and (max-width: 768px) {
        input .fullLength {
            max-width: 100% !important;
        }

        .fullLength {
            max-width: 100% !important;
        }
    }

    #logo-container {
        padding-bottom: 20px;
    }

    .logo {
        max-width: 236px;
    }
</style>

<div class="container">
    <div class="panel-body">
        @*<div id="logo-container" class="">
            <img src="" class="logo center-block img-responsive">
        </div>*@
    </div>

    <div class="col-xs-12">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
            <div class="col-md-12 col-lg-12 col-md-offset-1 col-lg-offset-2">
                @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                {
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control fullLength" })
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control fullLength" })
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default btn-block login-btn form-control" id="submitLogin">Login</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>




@*@section Scripts {
        <script>
            $(function() {
                $('#submitLogin').click(function (e) {
                    e.preventDefault();
                    var loginData = {
                        grant_type: 'password',
                        username: $('#userNameLogin').val(),
                        password: $('#passwordLogin').val()
                    };

                    $.ajax({
                        type: 'POST',
                        url: '/token',
                        data: loginData
                    }).success(function (data) {
                        console.log(data.access_token);
                        window.location = "/Account/Profile";
                    }).fail(function (data) {
                        console.log(data);
                        alert(data.responseText);
                    });
                });
            });
        </script>
    }*@